mobilisetask/src/main/app/task3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="HTTP_Listener_Conf3" host="localhost" port="1235" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="password" database="mobilise" doc:name="MySQL Configuration"/>
    <flow name="mobilisetaskFlow3">
        <http:listener config-ref="HTTP_Listener_Conf3" path="/Mobile3" allowedMethods="Post" doc:name="HTTP Incoming">
            <http:response-builder statusCode="999" reasonPhrase="Testing"/>
        </http:listener>
        <json:json-to-object-transformer returnClass="java.lang.Object" doc:name="JSON to Object"/>

        <logger message="#[payload.Terrain]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="&quot;#[payload.Terrain]=='3'&amp;#[payload.Wind]&lt;='20'&quot;">
                <set-variable variableName="Output" value="Successful for &quot;#[payload.Terrain] - #[payload.Wind]" doc:name="Variable"/>
                <logger message="Successful for &quot;#[payload.Terrain] - #[payload.Wind]" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="Failure." level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>


        <set-payload value="#[flowVars.Output]" doc:name="Response (Set Payload)"/>
    </flow>
    <flow name="task3Flow">
        <http:listener config-ref="HTTP_Listener_Conf3" path="/Mobile4" allowedMethods="Get,Post" doc:name="Copy_of_HTTP Incoming">
            <http:response-builder statusCode="999" reasonPhrase="Testing"/>
        </http:listener>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from `Table_A` where `signup_date` >= '2017-12-01' order by signup_date desc;]]></db:parameterized-query>
        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
</mule>
