databasemongotesting/target/classes/testqueryparam.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_7576" host="localhost" port="6565" doc:name="HTTP Listener Configuration"/>
    <flow name="testqueryparamFlow">
        <http:listener config-ref="HTTP_Listener_7576" path="/v1" doc:name="HTTP"/>
        <logger message="#[message.inboundProperties.'http.query.params'.userName]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
