databasemongotesting/src/main/app/insert_json.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <http:listener-config name="HTTP_Listener_C123" host="0.0.0.0" port="88818" doc:name="HTTP Listener Configuration"/>
    <db:oracle-config name="Oracle_Configuration1" host="localhost" port="1521" instance="xe" user="WM912" password="WM912" doc:name="Oracle Configuration"/>
    <flow name="insert_jsonFlow">
        <http:listener config-ref="HTTP_Listener_C123" path="/Json" allowedMethods="POST" doc:name="HTTP"/>
        <json:json-to-object-transformer returnClass="java.util.Map" doc:name="JSON to Object"/>
        <set-variable variableName="Terrain" value="#[payload.Terrain]" doc:name="Terrain"/>
        <set-variable variableName="Wind" value="#[payload.Wind]" doc:name="Wind"/>
        <foreach collection="#[flowVars.Terrain]" doc:name="For Each">
            <logger message="#[message.payload]" level="INFO" doc:name="Logger"/>
            <db:insert config-ref="Oracle_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[Insert Into Result (TERRAIN,WIND) Values (#[flowVars.Terrain[counter-1]], #[flowVars.Wind[counter-1]])]]></db:parameterized-query>
            </db:insert>
        </foreach>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
