databasemongotesting/src/main/app/vmtesting.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <vm:connector name="VM" validateConnections="true" doc:name="VM"/>
    <flow name="vmtestingFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/vmTest" doc:name="HTTP"/>
        <set-payload value="Testing the VM functionality of MuleSoft" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="VMQueue" doc:name="VM"/>
    </flow>
    <flow name="vmtestingFlowOut">
        <vm:inbound-endpoint exchange-pattern="one-way" path="VMQueue" doc:name="VM"/>
        <file:outbound-endpoint path="D:\MuleSoft\Filepolling\out" outputPattern="Output.txt" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
